@use "../../styles/responsive.scss" as *;

.chooseUs {
  max-width: 1200px;
  margin: auto;
  width: 100%;

  @include md {
    padding: 0px 10px;
  }
  .chooseUs-top {
    margin-bottom: 30px;
    text-align: center;

    h1 {
      font-size: 30px;
      font-family: $heading-font;
    }
    p {
      line-height: $p-height;
      width: 80%;
      margin: auto;
      margin-top: 10px;
      font-size: $p-size;

      @include md {
        width: 95%;
      }
      @include sm {
        font-size: 16px;
      }
    }
  }

  .chooseUs-cards {
    .chooseUs-card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 1000px;
      margin: auto;
      gap: 30px;
      height: 200px;

      @include sm {
        flex-direction: column;
        height: 100%;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        @include sm {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      .chooseUs-cards-left {
        width: 300px;
        @include sm {
          display: flex;
          justify-content: center;
        }
        img {
          width: 200px;
        }
      }
      .chooseUs-cards-center {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        @include md {
          display: none;
        }
        span {
          font-size: 18px;
        }
      }
      .chooseUs-cards-right {
        max-width: 300px;

        @include sm {
          text-align: center;
        }
        h3 {
          margin-bottom: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
