@use "../../styles/responsive.scss" as *;

.service {
  .service-banner {
    position: relative;
    padding-top: 83px;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      filter: brightness(0.5);
      display: block;

      @include md {
        height: 300px;
      }
    }
    .course-title {
      @include xl {
        font-size: 70px;
      }
    }

    .web-title {
      font-size: 50px;
      width: 100%;

      @include sm {
        font-size: 40px;
      }
    }

    &.interior-design {
      position: relative;
      .interior-design-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       


        h1 {
          position: static;
          text-align: center;
          transform: none;
        }
        p {
          font-size: 30px;
          font-weight: 600;
          color: #fff;
          text-align: center;
          @include sm{
            font-size: 20px;
          }
        }
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: clamp(30px, 8vw, 70px);
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 2px;

      &.architecture-title {
        @include md {
          font-size: 35px;
        }

        @include sm {
          font-size: 26px;
        }
      }
    }
  }

  .service-content {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 40px;

    @include xl {
      padding: 0px 10px;
    }

    @include md {
      flex-direction: column;
      max-width: 700px;
    }

    .service-content-left {
      flex: 6;

      .service-content-cards {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;

        @include sm {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        .service-content-card {
          max-width: 200px;
          background-color: $primary-color;
          cursor: pointer;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          margin: auto;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: translateY(-6px);
          }
          img {
            width: 100%;
            display: block;
            border-radius: 5px 5px 0px 0px;
          }
          h4 {
            text-align: center;
            font-size: 20px;
            padding: 5px 10px;
            color: #fff;
          }
        }
      }

      .web-sm {
        @include sm {
          font-size: 25px;
        }
      }

      h2 {
        font-size: 30px;
        font-family: $heading-font;

        &.lib-title {
          @include sm {
            font-size: 25px;
          }
        }
      }

      p {
        margin-top: 20px;
        line-height: 1.5;
      }

      h3 {
        margin-top: 30px;
        font-size: 23px;
      }

      ul {
        margin-top: 10px;
        margin-left: 20px;

        li {
          font-size: 15px;
          line-height: 1.5;
          &::marker {
            color: $primary-color;
          }
          span {
            margin: 20px 0px 10px 0px;
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
    .service-content-right {
      flex: 4;
    }
  }
}
