@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  h1,
  h2,
  h3 {
    // color: #B22222;
    font-weight: bold;
  }

  // Description text
  p,
  span {
    color: #654321;
  }
}
