@use "../../styles/responsive.scss" as *;

$background-color: #f9f9f9;
$border-color: #ddd;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
$transition-speed: 0.3s;

.contact {
  background: rgba(154, 190, 199, 0.603);

   @include lg{
    padding: 0px 10px;
   }
  .contact-banner {
    height: 300px;
    position: relative;

    .contact-banner-desc {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;

      h1 {
        font-size: 60px;
        color: #fff;

        @include sm{
          font-size: 50px;
        }
      }

      p {
        font-size: 18px;
      }
    }
  }

  .contact-content {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;

    @include md{
      flex-direction: column;
      gap: 40px;
    }

    @include sm{
      padding: 30px 10px;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 25px;
    }
    .contact-left {
      flex: 1;

      .contact-left-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
        .contact-left-item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          &:hover {
            .contact-icon {
              background: #fff;
              color: $primary-color;
              border: 1px solid $primary-color;
            }
          }

          .contact-icon {
            background: $primary-color;
            color: #fff;
            padding: 10px;
            font-size: 50px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            border: 1px solid transparent;

            @include sm{
              padding: 5px;
              font-size: 30px;
            }
          }

          p {
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
      }

      .follow {
         @include md{
          margin-top: 40px;
         }
        .follow-icons {
          display: flex;
          gap: 10px;
          .follow-icon {
            background: $primary-color;
            color: #fff;
            padding: 5px;
            font-size: 35px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border: 1px solid transparent;

            @include sm{
              padding: 5px;
              font-size: 30px;
            }

            &:hover {
              background: #fff;
              color: $primary-color;
              border: 1px solid $primary-color;
            }
          }
        }
      }
    }
    .contact-right {
      flex: 1;
      form {
        max-width: 600px;
        width: 100%;
        background: white;
        border-radius: 5px;

        h1 {
          text-align: center;
          color: $primary-color;
          margin-bottom: 30px;
          font-size: 28px;
          font-weight: 600;
        }

        .form-group {
          position: relative;
          margin-bottom: 40px;

          select {
            width: 100%;
            padding: 10px 0px;
            color: $secondary-color;
            font-size: 16px;
            line-height: 1.2;
            // appearance: none;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
          }

          input,
          textarea {
            font-size: 20px;
            width: 100%;
            border: none;
            border-bottom: 2px solid #ccc;
            padding: 5px 0;
            background-color: transparent;
            outline: none;

            &:focus ~ label,
            &:valid ~ label {
              top: -20px;
              font-size: 16px;
              color: $primary-color;
            }

            &:focus ~ .underline,
            &:valid ~ .underline {
              transform: scaleX(1);
            }
          }

          textarea {
            &:focus ~ .underline,
            &:valid ~ .underline {
              transform: scaleX(0);
            }
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            color: $secondary-color;
            transition: all 0.3s ease;
            pointer-events: none;
          }

          .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary-color;
            transform: scaleX(0);
            transition: all 0.3s ease;
          }
        }

        button {
          width: 100%;
          padding: 15px;
          background: #8b0000;
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
          transition: background-color $transition-speed ease,
            transform $transition-speed ease;

          &:hover {
            transform: translateY(-3px);
          }

          &:active {
            transform: translateY(0);
          }
        }
      }
    }
  }

  .contact-map {
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px 0px;

    iframe {
      border-radius: 10px;
    }
  }
}
