@use "../../styles/responsive.scss" as *;

.ourPrograms {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  .programs {
    &:first-child {
      margin-bottom: 70px;
    }
    .ourPrograms-top {
      margin-bottom: 30px;
    }

    .ourPrograms-cards {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      .ourPrograms-card {
        width: 250px;
        height: 400px;

        border-radius: 10px;
        background-image: url("../../assets/images/rotate.jpeg");
        background-position: center;
        background-size: cover;
        position: relative;
        transition: all 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
          transform: translateY(6px);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px 10px 30px 10px;

          .ourPrograms-card-desc {
            width: 100%;

            h3 {
              text-align: center;
              color: $primary-color;
            }
          }
        }

        &::after {
          height: 100%;
          width: 100%;
          content: "";
          position: absolute;
          background-color: #00000056;
          border-radius: inherit;
        }

        .ourPrograms-card-desc {
          position: absolute;
          bottom: 0;
          z-index: 10;
          background: #fff;
          width: 0%;
          transition: all 0.3s ease-in-out;
          border-radius: 30px 0px 30px 0px;

          h3 {
            padding: 10px;
            font-size: 30px;
            color: #fff;
          }
        }
      }
    }
  }
}
