@use "../../styles/responsive.scss" as *;

.footer {
  background: #f8f1d7;
  padding: 50px;
  overflow: hidden;

  @include sm {
    padding: 50px 30px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include lg {
      flex-direction: column;
      gap: 30px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
      // flex: 1;
    }
    .footer-left {
      flex: 3;
    }
    .footer-center {
      flex: 4;
    }
    .footer-right {
      flex: 4;
      justify-content: end;

      @include lg {
        justify-content: flex-start;
      }
    }

    .footer-left {
      img {
        width: 300px;

        @include sm {
          width: 250px;
        }
      }

      .footer-left-items {
        margin-top: 20px;
        .footer-left-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          .footer-left-icon {
            font-size: 20px;
            color: $primary-color;
            flex-shrink: 0;
          }
          p {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .footer-icons {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        .footer-icon {
          font-size: 35px;
          color: #fff;
          padding: 5px;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;

          @include sm {
            padding: 5px;
            font-size: 35px;
          }

          &.facebook {
            background: linear-gradient(45deg, #1877f2, #4a90e2);
          }
          &.insta {
            background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
          }

          &:hover {
            transform: translateY(-4px);
          }
        }
      }
    }
    .footer-center {
      .footer-center-items {
        .footer-center-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          .footer-center-icon {
            font-size: 20px;
            color: $primary-color;
            flex-shrink: 0;
          }
          p {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .footer-map {
          margin-top: 10px;
          iframe {
            border-radius: 5px;
            @include md {
              width: 100%;
            }
          }

          button {
            padding: 7px 10px;
            background-color: #2d7ff9;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
            transition: 0.3s ease;
            margin-top: 10px;

            &:hover {
              background-color: #105be0;
            }
          }
        }
      }
    }
    .footer-right {
      display: flex;
      gap: 20px;

      @include md {
        flex-direction: column;
      }
      .footer-right-item {
        ul {
          list-style-position: inside;
          margin-top: 10px;

          li {
            margin-top: 15px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-weight: 500;
            &:hover {
              transform: translateX(5px);
              color: $primary-color;
            }
          }
        }

        .footer-dropdown {
          li {
            display: flex;
            flex-direction: column;
            transform: none;
            &:hover {
              transform: none;
              color: inherit;
            }
            .footer-dropdown-title {
              display: flex;
              align-items: center;
            }
            ul {
              display: flex;
              flex-direction: column;

              .footer-option-link {
                transition: all 0.3s ease-in-out;
                margin-bottom: 10px;
                &:hover {
                  transform: translateX(5px);
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 30px;
    p {
      text-align: center;
      font-weight: 500;

      @include sm {
        font-size: 14px;
      }
      .star {
        border-bottom: 1px solid $primary-color;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
