@use "../../styles/responsive.scss" as *;

.homeContent {
  max-width: 1100px;
  margin: auto;
  @include xl {
    padding: 0px 10px;
  }
  .homeContent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include lg {
      flex-direction: column;
      gap: 30px;
    }
    .homeContent-left {
      flex: 5;

      h1 {
        margin-bottom: 30px;
        font-family: $heading-font;
        white-space: nowrap;
        font-size: 28px;
        @include md {
          white-space: wrap;
        }
        @include sm {
          font-size: 25px;
        }
      }
      p {
        font-size: $p-size;
        line-height: $p-height;

        @include sm {
          font-size: 16px;
        }
      }
    }
    .homeContent-right {
      flex: 5;
      display: flex;
      justify-content: end;
      .homeContent-right-imgs {
        display: flex;
        gap: 15px;
        img {
          width: 200px;
          height: 250px;
          object-fit: cover;
          border-radius: 10px;
          transition: transform 0.5s ease-in-out;
        }

        .homeContent-imgs-left {
          display: flex;
          flex-direction: column;
          gap: 15px;

          @include sm {
            // flex-direction: row;
          }
        }
        .homeContent-imgs-right {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 15px;

          @include sm {
            margin-top: 0px;
            display: none;
          }
        }
      }
    }
  }
}
